PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/supergoose
SUPERGOOSE_ROOT_USERNAME=Test1234
SUPERGOOSE_ROOT_PASSWORD=Test1234
API_CORS=http://127.0.0.1:3000,http://localhost:3000
